.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    .container {
        text-align: center;

        .button {
            margin-top: 40px;
        }

        .videoContainer {
            position: relative;
            width: 100%;
            padding-top: 56.25%;
            overflow: hidden;
            background: #000;

            border-radius: 32px;
            margin-top: 40px;
            margin-bottom: 30px;
            border: 20px solid #000;

            iframe {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }
}