.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}