.container {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.promoInfo {
    text-align: center;

    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
}

.promoTitle {
    text-align: center;

    font-size: 64px;
    font-weight: 700;
    line-height: 120%;

    padding-top: 20px;
}

.promoDesc {
    text-align: center;

    font-size: 24px;
    font-weight: 400;
    line-height: 150%;

    padding: 20px 0;
}

.promoButtons {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}