.footer {
    width: 100%;
    overflow: hidden;
}

.footerTop {
    position: relative;
    z-index: 2;

    background: #e5e5e5;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

.footerBottom {
    position: relative;
    z-index: 1;

    background-color: #060736;
    margin-top: -120px;
    padding: 80px 20px 40px;
    color: #fff;
}

.footerText {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}