.header {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    height: 68px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #161616;
    border-radius: 16px;
    z-index: 1000;

    transition: transform 0.4s ease, opacity 0.4s ease;
}

.hidden {
    transform: translate(-50%, -120%);
    opacity: 0;
}


.headerContent {
    width: 100%;
    margin: auto 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-size: 24px;
    font-weight: 700;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 100px;
}

.headerLinks {
    display: flex;
    gap: 50px;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.active {
    color: #6246EA;
}

.link:hover {
    color: #6246EA;
}

.headerButtons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.headerInfo {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}